<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo435gGqPXLM5rVPDbhNgx2d69_4HZ_fY</string>
	<key>GCM_SENDER_ID</key>
	<string>997151342472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prodygy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prodauth1</string>
	<key>STORAGE_BUCKET</key>
	<string>prodauth1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997151342472:ios:b4769809aed5f3fab3043d</string>
</dict>
</plist>